@use '../../css/components/mixins.scss';

:root {
  --ifm-navbar-shadow: 0px 2px 18px rgba(0, 0, 0, 0.04);
  --xtm-site-navbar-display: none;
  --xtm-site-navbar-height: 1.875rem;
}

@media (min-width: 997px) {
  :root {
    --xtm-site-navbar-display: block;
    --ifm-navbar-height: 4.5rem;
    --ifm-navbar-padding-vertical: 1.25rem;
    --ifm-navbar-padding-horizontal: 1.875rem;
  }
}

.navbar__link__sdk {
  display: grid;
  grid-template-columns: 25px 1fr;

  img.navbar__link__sdk__icon {
    align-self: center;
  }
}

.navbar {
  &__brand {
    margin-right: 1.875rem;
  }

  &__logo {
    height: 1.25rem;
    transform: translateY(-0.25rem);
    margin-right: 0.2rem;
  }

  &__title {
    color: var(--ifm-color-black);

    &::after {
      display: inline-block;
      content: 'docs';
      text-transform: uppercase;
      font-size: 0.5rem;
      color: var(--ifm-color-primary);
      letter-spacing: 0.83px;
      background-color: var(--ifm-color-primary-background);
      transform: translateY(-10px);
      font-weight: 800;
      padding: 0 2px;
      margin-left: 2px;
    }
  }

  // Hide DocVersion link if there aren't any
  &__items {
    > a.navbar__link__custom-dropdown--version {
      display: none;
    }
  }

  &__link {
    font-size: 0.813rem;

    &:hover {
      color: var(--ifm-color-primary-darkest);
    }

    &__sign-up {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.32px;
      color: var(--ifm-color-primary);
    }

    &__github {
      width: 13px;
      height: 13px;
      background: url('/icon/github.svg') no-repeat;

      &:hover {
        opacity: 0.8;
      }
    }

    &__mobile {
      display: none;
    }
  }

  .dropdown {
    @include mixins.faux-select;
    min-width: 11.25rem;
    margin-right: 1.25rem;

    > .navbar__link__custom-dropdown--sdks,
    > .navbar__link__custom-dropdown--version {
      width: 100%;
      color: var(--ifm-color-content);
      padding-right: calc(var(--ifm-navbar-item-padding-horizontal) + 1.1em);

      &:after {
        @include mixins.down-arrow(var(--ifm-color-secondary-darker), 4px, 3px);
        right: 1rem;
        position: absolute;
        top: 55%;
      }
    }

    &__menu {
      top: calc(100% + 2px);
      width: 100%;
    }

    &__link {
      &--active {
        background: none;
        font-weight: 700;
      }

      &:hover {
        background: none;
        color: var(--ifm-color-primary);
      }
    }

  }

  // Mobile sidebar
  .navbar-sidebar {
    .menu {
      &__link {
        &--sublist {
          @include mixins.menu-sublist-icon;

          &.navbar__link__custom-dropdown--sdks,
          &.navbar__link__custom-dropdown--version {
            @include mixins.faux-select;
          }
        }

        &--active {
          color: var(--ifm-color-primary);
          font-weight: 700;
        }

        &.navbar__link__custom-dropdown--sdks {
          margin-top: 1.325rem;
          &::before {
            @include mixins.menu-main-item;
            content: 'SDKS';
            position: absolute;
            top: -1.325rem;
            left: 0;
          }
        }

        // Hide DocVersion link if there aren't any
        &.navbar__link__custom-dropdown--version:not([role="button"]) {
          display: none;
        }
      }
    }

    &__items {
      padding: 1rem;

      > .menu > .menu__list {
        > * {
          margin-bottom: 1.325rem;
          .menu__link:not(.menu__link--sublist) {
            padding-left: 0;
          }
        }

        .navbar__link__mobile {
          display: block;
        }
      } 
    }
  }
}

.site-navbar {
  display: var(--xtm-site-navbar-display);
  background: var(--ifm-navbar-background-color);
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0 var(--ifm-navbar-padding-horizontal);
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  z-index: calc(var(--ifm-z-index-fixed) + 10);
  
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  
  &__main,
  &__secondary {
    height: var(--xtm-site-navbar-height);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  &__item {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 calc(var(--ifm-navbar-padding-horizontal) / 2);
    
    a {
      color: var(--ifm-color-black);
      opacity: 0.5;
      text-decoration: none;
      transition-property: opacity, color, fill;
      transition-duration: var(--ifm-transition-fast);
      transition-timing-function: var(--ifm-transition-timing-default);
      
      &:hover {
        opacity: 1;
      }
    }
    
    &--return {
      display: flex;
      padding-left: 0;
      padding-right: var(--ifm-navbar-padding-horizontal);
      margin-right: calc(var(--ifm-navbar-padding-horizontal) / 2);
      box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.04);
      
      a {
        opacity: 1;
        
        &:hover {
          color: var(--ifm-color-primary);
        }
        
        &::before {
          content: '«';
          color: var(--ifm-color-primary);
          margin-right: 0.2rem;
        }
      }
    }
    
    &--contact {
      padding-right: 0;
      
      a {
        display: flex;
        align-items: center;
        opacity: 1;
        color: var(--ifm-color-primary);
        
        &:hover {
          color: var(--ifm-color-primary-darkest);
          
          svg {
            fill: var(--ifm-color-primary-darkest);
          }
        }
        
        svg {
          margin-right: 0.5rem;
        }
      }
    }
    
    &.dropdown--hoverable {
      position: relative;

      &:after {
        @include mixins.down-arrow(var(--ifm-color-secondary-darker), 4px, 3px);
        cursor: pointer;
        margin: 2px 0 0 0.5rem;
        content: '';
      }
    }
  }

  &__dropdown {
    &__item {
      padding: 0.5rem;
    }
  }
}