# Git ignore everything
*

# Other than these
!src
!src/**/*
!replace-algolia-objects.js
!environment.js
!static
!static/**/*
!constants.js
!urls.js
!.gitignore
!babel.config.js
!docusaurus.config.js
!package.json
!README.md
!yarn.lock
!admonition-icons.js
!not-ready-sdks.js

.DS_Store
