# Git ignore everything
*

# Other than these
!src
!src/**/*
!replace-algolia-objects.js
!static
!static/**/*
!constants.js
!.gitignore
!babel.config.js
!docusaurus.config.js
!package.json
!README.md
!yarn.lock

.DS_Store
