@use '../../css/components/mixins.scss';

.docFeedback {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4rem;
  font-size: 0.875rem;

  &__button {
    color: var(--ifm-color-base);
    opacity: 0.3;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color,
      opacity var(--ifm-transition-fast) var(--ifm-transition-timing-default);
    font-size: 0.75rem;
    font-weight: 600;

    svg {
      margin-right: 10px;
    }

    &:hover,
    .docsFeedback__dialog--active + & {
      opacity: 1;
      svg {
        fill: var(--ifm-color-primary);
      }
    }
  }

  &__dialog {
    min-width: 28.75rem;
    padding: 1.25rem 1.5rem;
    position: absolute;
    bottom: calc(100% + 1rem);
    visibility: hidden;
    background-color: var(--ifm-dropdown-background-color);
    border-radius: var(--ifm-global-radius);
    box-shadow: var(--ifm-global-shadow-md);
    transition-property: opacity, transform, visibility, fill;
    transition-duration: var(--ifm-transition-fast);
    transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
    transform: scale(0.8);
    opacity: 0;

    h5 {
      font-size: 1.125rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.875rem;
      margin-bottom: 0.625rem;
    }

    &::after {
      @include mixins.down-arrow(
        var(--ifm-dropdown-background-color),
        10px,
        10px
      );
      content: '';
      position: absolute;
      bottom: -10px;
      right: 1.5rem;
    }

    &--open {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }

    form {
      display: flex;
      flex-direction: column;

      button {
        align-self: flex-end;
      }
    }
  }
}
