@use '../../css/components/mixins.scss';

.docFeedback {
  &__form {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    h3 {
      text-align: center;
      margin-bottom: 40px;
    }

    button {
      margin-top: 28px;
    }
  }
}
