@use "../../css/components/mixins.scss";

.docFeedback {
  &__form {
    margin-top: 3.75rem;
    padding-top: 3.75rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    h3 {
      text-align: center;
      margin-bottom: 2.5rem;
    }

    button {
      margin-top: 1.75rem;
    }
  }
}
