:root {
  --xtm-doc-column-size: calc(100% / 10);
}

@media (min-width: 997px) and (max-width: 1440px) {
  main[class^="docMainContainer"] {
    .container {
      max-width: none;
      .row {
        & > .col:first-child {
          max-width: calc(var(--xtm-doc-column-size) * 7) !important;
          margin: auto;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  main[class^="docMainContainer"] {
    .container {
      --ifm-container-width-xl: none;
      .row {
        & > .col:first-child {
          max-width: calc(var(--xtm-doc-column-size) * 6) !important;
          margin: auto;
        }

        & .col.col--3 {
          --ifm-col-width: calc(var(--xtm-doc-column-size) * 2);
        }
      }
    }
  }
}
