.markdown {
  p {
    img {
      display: flex;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      max-height: 600px;
      object-fit: scale-down;
      background-color: #edeeeb;

      @media (min-width: 997px) {
        padding: 2.25rem 2.25rem 0;

        &:first-child {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }

        &:last-child {
          padding-bottom: 2.25rem;
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
      }
    }

    &:first-child {
      font-size: 1.125rem;
    }
  }

  ul,
  ol {
    font-size: 0.875rem;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    img {
      padding: 0;
    }
  }

  table {
    display: table;
    font-size: 0.875rem;
    table-layout: fixed;
    overflow: auto;

    th,
    td {
      text-align: unset;
      border: none;
    }

    tr {
      border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);

      img {
        padding: 0;
        border-radius: 0;
      }
    }
  }

  h2.heading {
    --ifm-h2-font-size: 1.75rem;
  }

  h3.heading {
    --ifm-h3-font-size: 1.375rem;
  }
}
