:root {
  --xtm-pagination-border: rgba(0, 0, 0, 0.1);
  --xtm-pagination-sublabel-color: rgba(0, 0, 0, 0.4);
  --ifm-pagination-nav-border-radius: 0.375rem;
}

html[data-theme="dark"] {
  --xtm-pagination-border: rgba(255, 255, 255, 0.1);
  --xtm-pagination-sublabel-color: rgba(255, 255, 255, 0.4);
}

.pagination-nav {
  &__link {
    border-color: var(--xtm-pagination-border);
  }

  &__sublabel {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    color: var(--xtm-pagination-sublabel-color);
  }

  &__label {
    font-weight: bold;
  }
}
