:root {
  --ifm-tabs-color-active: var(--ifm-font-color-base);
  --ifm-tabs-color: var(--ifm-color-gray-600);
  --ifm-tabs-padding-vertical: 0.625rem;
  --ifm-hover-overlay: transparent;
}

.tabs-container {
  .tabs {
    margin: 0 0.625rem;

    & + div.margin-vert--md {
      margin-top: 0.625rem !important;
    }

    &__item {
      border-radius: 0;
      font-size: 0.875rem;

      &--active {
        border-bottom-color: var(--ifm-color-info);
      }

      &:hover:not(&--active) {
        color: rgba(0, 0, 0, 0.6);
        border-bottom-color: #e6e6e6;
      }
    }
  }
}
