.spinner {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

.spinner:focus {
  outline: none;
}

.white {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
}

.blue {
  border: 3px solid rgba(0, 108, 255, 0.3);
  border-top-color: #006cff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
