/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
**/

@font-face {
  font-family: 'Inter';
  font-display: fallback;
  font-weight: 400;
  src:  url('../../static/fonts/inter/Inter-Regular.otf') format('otf'),
        url('../../static/fonts/inter/Inter-Regular.woff2') format('woff2'),
        url('../../static/fonts/inter/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-display: fallback;
  font-weight: 500;
  src:  url('../../static/fonts/inter/Inter-Medium.otf') format('otf'),
        url('../../static/fonts/inter/Inter-Medium.woff2') format('woff2'),
        url('../../static/fonts/inter/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-display: fallback;
  font-weight: 700;
  src:  url('../../static/fonts/inter/Inter-Bold.otf') format('otf'),
        url('../../static/fonts/inter/Inter-Bold.woff2') format('woff2'),
        url('../../static/fonts/inter/Inter-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-display: fallback;
  font-weight: 800;
  src:  url('../../static/fonts/inter/Inter-Black.otf') format('otf'),
        url('../../static/fonts/inter/Inter-Black.woff2') format('woff2'),
        url('../../static/fonts/inter/Inter-Black.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-display: fallback;
  font-style: italic;
  font-weight: 400;
  src:  url('../../static/fonts/inter/Inter-Italic.otf') format('otf'),
        url('../../static/fonts/inter/Inter-Italic.woff2') format('woff2'),
        url('../../static/fonts/inter/Inter-Italic.woff') format('woff');
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #005fff;
  --ifm-color-primary-dark: #0056E6;
  --ifm-color-primary-darker: #0051D9;
  --ifm-color-primary-darkest: #0042B3;
  --ifm-color-primary-light: #1A6FFF;
  --ifm-color-primary-lighter: #2677FF;
  --ifm-color-primary-lightest: #4D8FFF;
  --ifm-color-primary-background: #F5F9FF;
  --ifm-color-info: #00dfff;
  --ifm-color-info-dark: #00CCEA;
  --ifm-color-info-darker: #00bed9;
  --ifm-color-info-darkest: #009cb3;
  --ifm-color-info-light: #1ae2ff;
  --ifm-color-info-lighter: #26e4ff;
  --ifm-color-info-lightest: #78eeff;
  --ifm-color-info-background: #DFF7FF;
  --ifm-color-info-font: #0056CC;
  --ifm-color-success: #40df01;
  --ifm-color-success-dark: #3ac901;
  --ifm-color-success-darker: #36be01;
  --ifm-color-success-darkest: #2d9c01;
  --ifm-color-success-light: #46f501;
  --ifm-color-success-lighter: #4bfe04;
  --ifm-color-success-lightest: #7efe4b;
  --ifm-color-success-background: #B2FFD1;
  --ifm-color-success-font: #006629;
  --ifm-color-warning: #fecf29;
  --ifm-color-warning-dark: #fec80c;
  --ifm-color-warning-darker: #fac301;
  --ifm-color-warning-darkest: #cea001;
  --ifm-color-warning-light: #fed646;
  --ifm-color-warning-lighter: #fed955;
  --ifm-color-warning-lightest: #ffeeb3;
  --ifm-color-warning-background: #FFEE55;
  --ifm-color-danger: #ff003d;
  --ifm-color-danger-dark: #e60037;
  --ifm-color-danger-darker: #d90034;
  --ifm-color-danger-darkest: #b3002b;
  --ifm-color-danger-light: #ff1a50;
  --ifm-color-danger-lighter: #ff265a;
  --ifm-color-danger-lightest: #ff4d77;
  --ifm-color-danger-background: #E7011D;
  --ifm-color-secondary-darkest: #acacac;
  --ifm-color-secondary-background: #f6f6f6;

  --ifm-code-font-size: 95%;
  --ifm-background-color: rgba(252, 252, 252, 1);
  --ifm-toc-border-color: rgba(0,0,0,0.03);
  --ifm-font-family-base: 'Inter', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', 'sans-serif';
  --ifm-global-shadow-md: 0px 4px 20px rgba(0, 0, 0, 0.1);

  /* Headings variables */
  --ifm-heading-font-weight: 800;

  /* Table variables */
  --ifm-table-background: #FCFCFC;
  --ifm-table-stripe-background: #FCFCFC;
  --ifm-table-head-background: #FAFAFA;
  --ifm-table-border-color: #ececec;

  --xtm-secondary-color: rgba(0,0,0,0.5);
}

html[data-theme='dark'] {
  --ifm-toc-border-color: rgba(255,255,255,0.05);
  --ifm-table-background: transparent;
  --ifm-table-stripe-background: transparent;
  --ifm-table-head-background: rgba(255,255,255,0.05);
  --ifm-table-border-color: rgba(255,255,255,0.2);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

@media (min-width: 1440px) {
  .main-wrapper.docs-wrapper.doc-page {
    .container {
      padding-top: 3.75rem!important;
    }
  }
}