@use './mixins.scss';

/* Menu/sidebar related variables */
:root {
  --doc-sidebar-width: 265px!important;
  --ifm-menu-color-background-active: transparent;
  --ifm-menu-color: #000000;
  --ifm-menu-color-active: #000000;
  --ifm-menu-link-padding-vertical: 0.25rem;
  --ifm-menu-link-padding-horizontal: 1rem;
}

html[data-theme='dark'] {
  --ifm-menu-color: #c4c4c4;
  --ifm-menu-color-active: #FFFFFF;
}

@media (min-width: 997px) {
  :root {
    --ifm-menu-link-padding-horizontal: 1.875rem;
  }

  .menu {
    // overwriting default
    padding: 1.125rem 0 0 0!important;
  }
}

.menu {
  padding: 1.125rem 0;
  font-size: 0.875rem;

  .menu__link:hover {
    background: none;
    color: var(--ifm-color-primary);
  }

  > .menu__list {
    > .menu__list-item {
      // main item style is only applied to first items
      margin-bottom: 1.5rem;
      > .menu__link {
        @include mixins.menu-main-item;

        &--active:not(&--sublist) {
          color: var(--ifm-menu-color-active);
          @include mixins.active-item(3px);
        }

        &:after {
          background: none;
        }
      }
      
      .menu__list {
        margin-left: 0;
        &-item {
          a.menu__link {
            &--active {
              font-weight: bold;
            }

            &--sublist {
              @include mixins.menu-sublist-icon;
            }

            &--active:not(&--sublist) {
              @include mixins.active-item(3px);
            }
          }

          a.menu__link--sublist + ul.menu__list {
            .menu__list-item {
              .menu__link {
                // needed to keep the active higlight line on the left 😩
                padding:  var(--ifm-menu-link-padding-vertical)
                          calc(var(--ifm-menu-link-padding-horizontal) + 1.25rem)
                          var(--ifm-menu-link-padding-vertical)
                          calc(var(--ifm-menu-link-padding-horizontal) + 0.938rem)
              }
            }
          }
        }
      }
    }
  }
}
