@use './mixins.scss';

/* Menu/sidebar related variables */
:root {
  --doc-sidebar-width: 265px!important;
  --ifm-menu-color-background-active: transparent;
  --ifm-menu-color: #000000;
  --ifm-menu-color-active: #000000;
  --ifm-menu-link-padding-vertical: 0.25rem;
  --ifm-menu-link-padding-horizontal: 1rem;
  --xtm-sidebar-footer-height: auto;
  --xtm-layout-direction: column-reverse;
}

html[data-theme='dark'] {
  --ifm-menu-color: #c4c4c4;
  --ifm-menu-color-active: #FFFFFF;
}

div[class^='docPage'] {
  flex-direction: var(--xtm-layout-direction);
  > main {
    flex: 1;
  }
}

.menu-footer {
  height: var(--xtm-sidebar-footer-height);
  padding: var(--ifm-menu-link-padding-horizontal);
  justify-content: space-between;
  box-shadow: inset 0px 1px 0px rgba(0,0,0,0.03);

  &__links {
    list-style: none;
    padding: 0;
    margin: 0 0 var(--ifm-menu-link-padding-horizontal) 0;

    &__item {
      font-weight: 700;
      font-size: 0.875rem;
      display: inline;

      &:not(:last-of-type):after {
        content: "\B7";
        margin: 0 .625rem;
      }
    }
  }

  &__disclaimer {
    margin: 0;
    opacity: 0.6;
    font-size: 0.813rem;

    span {
      white-space: nowrap;
    }
  }
}

div:not(.navbar-sidebar__items) > .menu {
  padding: 1.125rem 0;
  font-size: 0.875rem;

  .menu__link:hover {
    background: none;
    color: var(--ifm-color-primary);
  }

  > .menu__list {
    > .menu__list-item {
      // main item style is only applied to first items
      margin-bottom: 1.5rem;
      > .menu__link {
        @include mixins.menu-main-item;

        &--active:not(&--sublist) {
          color: var(--ifm-menu-color-active);
          @include mixins.active-item(3px);
        }

        &:after {
          background: none;
        }
      }
      
      .menu__list {
        margin-left: 0;
        &-item {
          a.menu__link {
            &--active {
              font-weight: bold;
            }

            &--sublist {
              @include mixins.menu-sublist-icon;
            }

            &--active:not(&--sublist) {
              @include mixins.active-item(3px);
            }
          }

          a.menu__link--sublist + ul.menu__list {
            .menu__list-item {
              .menu__link {
                // needed to keep the active higlight line on the left 😩
                padding:  var(--ifm-menu-link-padding-vertical)
                          calc(var(--ifm-menu-link-padding-horizontal) + 1.25rem)
                          var(--ifm-menu-link-padding-vertical)
                          calc(var(--ifm-menu-link-padding-horizontal) + 0.938rem)
              }
            }
          }
        }
      }
    }
  }

  &--responsive {
    .menu__button {
      background-color: var(--ifm-color-primary);
      border-color: var(--ifm-color-primary);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.32) 0px 3px 13px 0px;
      color: var(--ifm-color-white);
      padding: 0.5rem 1rem;
      border-radius: 99px;
      svg path {
        stroke-width: 4px;
      }
    }
  }
}

@media (min-width: 997px) {
  :root {
    --xtm-sidebar-footer-height: 12.5rem;
    --ifm-menu-link-padding-horizontal: 1.875rem;
    --xtm-layout-direction: row;
  }

  // Making space for external links
  [class^='docSidebarContainer'] {
    div[class^='sidebar'] {
      height: calc(100vh - var(--xtm-sidebar-footer-height) - var(--xtm-site-navbar-height));
    }
  }
  
  // overwriting defaults
  .menu {
    padding: 1.125rem 0 0 0!important;
  }

  .menu-footer {
    position: fixed;
    width: var(--doc-sidebar-width);

    &__links {
      &__item {
        display: block;
        margin-bottom: 0.25rem;

        &:after {
          display: none;
        }
      }
    }
  }
}