@use "../../css/components/mixins.scss";

.docFeedback {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1.563rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 3.75rem;

  &__button {
    color: var(--ifm-color-base);
    opacity: 0.3;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color,
      opacity var(--ifm-transition-fast) var(--ifm-transition-timing-default);
    font-size: 0.75rem;
    font-weight: 600;

    svg {
      margin-right: 10px;
    }

    &:hover,
    .docsFeedback__dialog--active + & {
      opacity: 1;
      svg {
        fill: var(--ifm-color-primary);
      }
    }
  }
}
