.navbar__link__github__info {
  display: flex;
  align-items: center;

  .navbar__link__github {
    padding-right: 11px;
    height: 14px;
  }

  .navbar__link__github__release {
    padding: 0;
    font-weight: var(--ifm-font-weight-bold);
    color: var(--ifm-link-color);
  }
}
