.markdown {
  > p:first-child {
    font-size: 1.125rem;
  }

  ul, ol {
    font-size: 0.875rem;
  }
  ol {
    list-style-type: decimal;
  }

  table {
    display: table;
    font-size: 0.875rem;
  }
  
  table tr {
    border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
  }
  
  table th, table td {
    text-align: unset;
    border: none;
  }

  h2.heading {
    --ifm-h2-font-size: 1.75rem;
  }
 
   h3.heading {
     --ifm-h3-font-size: 1.375rem;
   }
}