@mixin active-item($width: 2px, $height: 100%, $top: 0) {
  &::before {
    position: absolute;
    content: '';
    top: $top;
    left: 0;
    height: $height;
    width: $width;
    background-color: var(--ifm-color-info);
  }
}

@mixin menu-main-item {
  color: var(--xtm-secondary-color);
  font-weight: bold;
  font-size: 0.688rem;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

@mixin menu-sublist-icon {
  &::after {
    background-size: 1rem 1rem;
  }
}

@mixin down-arrow($color, $width, $height) {
  width: 0; 
  height: 0;
  border-top: $width solid $color;
  border-left: $height solid transparent;
  border-right: $height solid transparent;
}

@mixin faux-select {
  position: relative;
  border-radius: 6px;
  border: 1px solid #E4E4E4;
  cursor: pointer;
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  
  &:hover {
    box-shadow: var(--docsearch-searchbox-shadow);
  }
}

@mixin remove-external-icon {
  & svg[class^=iconExternalLink] {
    display: none;
  }
}