name: Triggers staging deployment workflow

on:
  workflow_run:
    workflows:
      - compress
    types:
      - completed
    branches:
      - staging

jobs:
  trigger_docs_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Triggers chat/video docs deployment workflow
        env:
          PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          curl -X POST https://api.github.com/repos/GetStream/stream-chat-docusaurus/actions/workflows/deploy-staging.yml/dispatches  -H 'Accept: application/vnd.github.v3+json' -u ":$PAT_TOKEN" --data '{"ref": "staging"}'
          curl -X POST https://api.github.com/repos/GetStream/stream-video-docusaurus/actions/workflows/deploy-staging.yml/dispatches -H 'Accept: application/vnd.github.v3+json' -u ":$PAT_TOKEN" --data '{"ref": "staging"}'
